{% extends 'base.html.twig' %}

{% block title %}Hola 2{% endblock %}

{% block stylesheets %}
{{ parent() }}
    <link rel="stylesheet" href="{{ asset('/css/hola2.css') }}">
}
}
{% endblock %}

{% block body %}
<h1>Hola</h1>
{% endblock %}