 {% extends 'base.html.twig' %}

 {% block body %}

<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="{{path('homepage')}}">Index</a>
  </li>
    <li class="nav-item">
    <a class="nav-link active" href="{{path('pagina-hola')}}">Hola</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="{{path('pagina-hola2')}}">Hola</a>
  </li>
</ul>

 {% endblock %}	